@import url("https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz:wght@300&display=swap");
.flex-all-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-column{
    flex-direction: column;
}

.logo img{
    width:60px;
    margin:0 0 0 3px;
}

.container{
    min-height:calc(100vh - 58px - 10vh);
}

.btn{
    margin:0 5px;
    padding:5px 10px;
    background-color: var(--main-bg-color);
    color:white;
    border:1px solid white;
    border-radius: 6px;
    cursor:pointer;
    font-weight: 900;   
}

/* .slider{
    width: 80vw;
    margin:12px auto;
}

.slider img{
    margin: auto;
} */

/*slider carosol*/

.slider-container{
    margin: 20px auto;
    width: 80vw;
    height: 35vh;
    position: relative;
    overflow: hidden; 
    text-align: center;
  }
  
  .menu {
    position: absolute;
    left: 0;
    z-index: 900;
    width: 100%;
    bottom: 0;
  }
  
  .menu label {
    cursor: pointer;
    display: inline-block;
    width: 16px;
    height: 16px;
    background: #fff;
    border-radius: 50px;
    margin: 0 .2em 1em;
    
  }

  .menu label:hover {
    background: red;
  }
  
  .slide {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 100%;
    z-index: 10;
    padding: 8em 1em 0;
    background-size: cover;
    background-position: 50% 50%;
    transition: left 0s .75s;
  }
  
  [id^="slide"]:checked + .slide {
    left: 0;
    z-index: 100;
    transition: left .65s ease-out;
  }
  
  .slide-1 {
    background-image: url("https://source.unsplash.com/1600x900/?products,ecommerce");
  }
  .slide-2 {
    background-image: url("https://source.unsplash.com/1600x900/?electronics,ecommerce");
  }
  .slide-3 {
    background-image: url("https://source.unsplash.com/1600x900/?laptop,ecommerce");
  }
  .slide-4 {
    background-image: url("https://source.unsplash.com/1600x900/?skincare,ecommerce");
  }

  .my1{
    margin: 26px 4px;
  }


  .text-center{
      text-align: center;
      margin:5px;
  }

  .card
  {
      max-width: 92vw;
      margin: 10px auto;
      background-color:var(--main-bg-color);
      color:white;
      overflow-x: auto;
      
  }

  

  .inside-card{
      display: flex;
      margin: 10px;
      flex-wrap: nowrap;
      overflow-x: auto; 
      -ms-overflow-style: none;  /* IE and Edge */
      scrollbar-width: none;  /* Firefox */
  }

  .inside-card::-webkit-scrollbar { display: none;}

  .card h2{
    font-family: "Yanone Kaffeesatz", sans-serif;
    padding: 5px;
    text-decoration: underline;
  }
 

  .card-item{
      display:flex;
      width:12vw;
      margin: 0 10px;
  }

  .card-item img{
    border: 1px solid white;
    
  }
  
 